# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
./node_modules
./server/.env
server/.env


server/.envgit filter-branch --index-filter "git rm -rf --cached --ignore-unmatch .env" HEAD
.env

/.pnp
.pnp.js
/client/node_modules
/server/node_modules


server/.env
# testing        
server/.env
/coverage
../../node_modules

# production
/build
../node_modules

=======
# testing
/coverage
../../node_modules
# production
/build
../node_modules

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
